@page "/counter"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using Forum
@inject HttpClient Http

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    
    public class Model
    {
        public long Id { get; set; }
    }


}