@page "/"
@using Forum4.Data
@using System.Linq
@inject Forum4Client _forum4Client;
<MudGrid Justify="Justify.Center" class="pr-4 pl-4">
    @foreach (var post in allPosts)
    {
        <MudItem xs="3">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">@post.Id</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
            </MudCard>
        </MudItem>
    }
</MudGrid>
    

<MudSimpleTable Hover="true" Style="overflow-x: auto;">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date Posted</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var post in allPosts)
    {
        <tr>
            <td>@post.Title</td>
            <td>@post.Content</td>
            <td>@post.CreatedDateTime</td>
        </tr>
    }
    </tbody>
</MudSimpleTable>

@code {
    List<Post> allPosts = new List<Post>();
    protected override async Task OnInitializedAsync()
    {
        var result = await _forum4Client.GetAllPosts.ExecuteAsync();
        allPosts =  result.Data.AllPosts.Select(c => new Post
        {
            Title = c.Title,
            Content = c.Content,
            CreatedDateTime = c.CreatedDateTime,
            UserId = c.UserId,
            Id = c.Id,
        }).ToList();
    }
}